<div class="max-w-4xl mx-auto bg-dark shadow-md rounded-lg p-8 my-10">
  <header class="flex flex-col items-center">
    <img src="/content/images/me.jpg" alt="Me" class="w-32 rounded-full shadow-lg mb-4">
    <h1 jhiTranslate="cv.about.name" class="text-3xl font-bold">José Lucas Acioly</h1>
    <p jhiTranslate="cv.about.job" class="text-gray-600">Software Engineer</p>
    <p jhiTranslate="cv.about.email" class="text-gray-600">Email: lucasacioly.dev&#64;gmail.com</p>
    <p jhiTranslate="cv.about.phone" class="text-gray-600">Phone: +55 (81) 98536 - 6902</p>
    <p jhiTranslate="cv.about.address" class="text-gray-600">Address: R. Vinte e Quatro de Agosto, 209 - Recife
      PE, Brazil</p>
  </header>
  <hr>
  <section class="mt-8">
    <h2 jhiTranslate="cv.summary.title" class="text-2xl font-semibold mb-4">Professional Summary</h2>
    <p jhiTranslate="cv.summary.desc" class="text-gray-700">My journey in the area of systems development began 4 years ago when
      I enrolled in the Computer Science course. Since then I have been passionate about programming and
      software development. More specifically, I am interested in topics such as programming languages,
      algorithm development, software engineering, distributed systems and artificial intelligence.
      I consider myself adventurously curious, I like to develop new skills and refine the ones I already have.</p>
  </section>

  <section class="mt-8">
    <hr>
    <h2 jhiTranslate="cv.experience.title" class="text-2xl font-semibold mb-4">Work Experience</h2>
    <hr>
    <div class="mb-6">
      <h3 jhiTranslate="cv.experience.j1.title" class="text-xl font-bold">Software Engineer</h3>
      <p jhiTranslate="cv.experience.j1.date" class="text-gray-600">CAIXA | Nov 2024 - Current Date</p>
      <ul class="list-disc list-inside text-gray-700">
      </ul>
    </div>
    <div class="mb-6">
      <h3 jhiTranslate="cv.experience.j2.title" class="text-xl font-bold">Web Development Internship</h3>
      <p jhiTranslate="cv.experience.j2.date" class="text-gray-600">Pernambuco Justice Court (TJPE) | Apr 2023 - Oct 2024</p>
      <ul class="list-disc list-inside text-gray-700">
        <li jhiTranslate="cv.experience.j2.desc.1">Assist in the development of web applications for
          TJPE using technologies such as Java, Spring Boot, and
          Spring Framework for backend development, and Angular,
          Angular Material, and PrimeNG for frontend development.
          Responsibilities included various tasks such as </li>
        <li jhiTranslate="cv.experience.j2.desc.2">Bug fixing,generate automated Excel reports with Apache POI, create
          jobs in Spring Boot for handling/synchronizing heterogeneous databases. </li>
        <li jhiTranslate="cv.experience.j2.desc.3">The most significant activity was the migration of the legacy
          case law search service (which used Apache Lucene for document indexing) to an Elasticsearch database.
          This project involved the migration of the indexing mechanism, the backend services update to consume
          the indexed data, and modernizing the front-end application used by over 6,000 TJPE
          staff members and citizens accessing the public search services.
        </li>
      </ul>
    </div>
    <div class="mb-6">
      <h3 jhiTranslate="cv.experience.j3.title" class="text-xl font-bold">DBA Internship</h3>
      <p jhiTranslate="cv.experience.j3.date" class="text-gray-600">Nyx Soluções | Oct 2022 - May 2023</p>
      <ul class="list-disc list-inside text-gray-700">
        <li jhiTranslate="cv.experience.j3.desc.1">Assist in managing Oracle databases for various clients in Northeast Brazil , including hotels, supermarket chains, hospitals, and more.</li>
        <li jhiTranslate="cv.experience.j3.desc.2">Generated database activity reports and identifyed potential risks or infrastructure investment needs based on these reports</li>
        <li jhiTranslate="cv.experience.j3.desc.3">I supported a partner company's development team in their application development, primarily by creating queries and procedures for a transactional application, database triggers, and PL/SQL jobs for synchronizing replicated databases.</li>
      </ul>
    </div>
  </section>

  <section class="mt-8">
    <hr>
    <h2 jhiTranslate="cv.education.title" class="text-2xl font-semibold mb-4">Education</h2>
    <hr>
    <div class="mb-6">
      <h3 jhiTranslate="cv.education.g1.title" class="text-xl font-bold">Computer Science Bsc</h3>
      <p jhiTranslate="cv.education.g1.date" class="text-gray-600">CIn UFPE | 2025</p>
      <p jhiTranslate="cv.education.g1.desc" class="text-gray-700">During the foundational cycle (2 years),
        I studied core subjects including programming languages, data structures and algorithms,
        machine learning, computer networks, databases, operating systems and hardware infrastructure, theory of computation,
        and compilers. In the professional cycle (2.5 years), I specialized in advanced topics such as
        distributed systems, software architecture, neural networks, and deep learning.
        I also gained expertise in data warehousing and subject-oriented databases,
        while being introduced to emerging fields like quantum computing and responsible AI.
        Additionally, I had the privilege of serving as a teaching assistant for the discrete mathematics
        course for two years, further honing my academic and instructional skills. My graduation project
        is in the field of Process Minning and Clustering.</p>
    </div>
  </section>

  <section class="mt-8">
    <hr>
    <h2 jhiTranslate="cv.skills.title" class="text-2xl font-semibold mb-4">Skills</h2>
    <hr>
    <ul class="list-disc list-inside text-gray-700">
      <li jhiTranslate="cv.skills.s1" >Programming Languages: Python, Java, Typescript</li>
      <li jhiTranslate="cv.skills.s2" >Ohter languages: SQL, Bash, powershell, HTML5, CSS3</li>
      <li jhiTranslate="cv.skills.s3" >Frameworks: Angular, Springboot</li>
      <li jhiTranslate="cv.skills.s4" >Midlewares: Rabbitmq, Mosquitto (mqtt)</li>
      <li jhiTranslate="cv.skills.s5" >SGBDS: mongodb, elasticsearch, Oracle, postgres </li>
      <li jhiTranslate="cv.skills.s6" >Cooperation tools: Git, github, jira, notion, google suite</li>
    </ul>
  </section>

  <!--section class="mt-8">
    <hr>
    <h2 class="text-2xl font-semibold mb-4">Certifications</h2>
    <hr>
    <ul class="list-disc list-inside text-gray-700">
      <li>Certification 1</li>
      <li>Certification 2</li>
      <li>Certification 3</li>
    </ul>
  </section-->

  <section class="mt-8">
    <hr>
    <h2 jhiTranslate="cv.langs.title" class="text-2xl font-semibold mb-4">Languages</h2>
    <hr>
    <ul class="list-disc list-inside text-gray-700">
      <li jhiTranslate="cv.langs.l1" >Portugueese - Primary Language</li>
      <li jhiTranslate="cv.langs.l2" >English - Almost Fluent (C2 Level)</li>
    </ul>
  </section>

  <!--section class="mt-8">
    <h2 class="text-2xl font-semibold mb-4">References</h2>
    <p class="text-gray-700">Available upon request.</p>
  </section-->
</div>
