<jhi-page-ribbon></jhi-page-ribbon>

<div class="background-container">
  <div class="background-image"></div>
  <div class="content">
    <router-outlet name="navbar"></router-outlet>

    <div>
      <router-outlet></router-outlet>
    </div>

    <div *ngIf="this.isRootPage">
      <router-outlet name="skills"></router-outlet>
    </div>
    <div *ngIf="this.isRootPage">
      <router-outlet name="hobbies"></router-outlet>
    </div>
    <div *ngIf="this.isRootPage">
      <router-outlet name="contact"></router-outlet>
    </div>

    <jhi-footer></jhi-footer>
  </div>
</div>
