<header class="text-gray-600 body-font">
  <div class="bg-shadow rounded-2xl container mx-auto flex flex-wrap m-2 p-3 flex-col md:flex-row items-center">

    <span class="logo-full-light img-fluid rounded"></span>

    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5">C.V.</a>
      <a jhiTranslate="global.menu.events"  class="mr-5">Eventos e Certificados</a>
      <a jhiTranslate="global.menu.contact" (click)="navigateToContact()" class="mr-5">Contato</a>

      @if (languages && languages.length > 1) {

        <p-dropdown [options]="languages | findLanguageFromKey"
                    [(ngModel)]="selectedLanguage"
                    optionLabel="name"
                    [showClear]="false"
                    placeholder="Language"
                    dropdownIcon="pi pi-language"
                    (onChange)="selectedLanguage !== undefined ? changeLanguage(findKeyFromLanguage(selectedLanguage.name)) : true; collapseNavbar()">

        </p-dropdown>
        }

    </nav>

  </div>


</header>
