@import 'bootstrap/scss/functions';
@import 'bootswatch/dist/sandstone/variables';
@import 'bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.logo-full-light {
  display: inline-block;
  width: 12rem;
  height: 4rem;
  background: url('../../../content/images/logo/logo_full_light.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .logo-full-light {
    background: url('../../../content/images/logo/logo_full_light.svg') no-repeat center top;
    background-size: contain;
  }
}


.logo-full-dark {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../../content/images/logo/logo_full_dark.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .logo-full-dark {
    background: url('../../../content/images/logo/logo_full_light.svg') no-repeat center top;
    background-size: contain;
  }
}
