<section class="text-gray-600 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 jhiTranslate="contact.title" #contact class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Contact Me</h1>
      <p jhiTranslate="contact.subtitle" class="lg:w-2/3 mx-auto leading-relaxed text-base">I'm always interested in discussing software projects and collaboration opportunities</p>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">
        <div class="p-2 w-1/2">
          <div class="relative">
            <label jhiTranslate="contact.form.name" for="name" class="leading-7 text-sm text-gray-600">Name</label>
            <input type="name" id="name" pInputText class="w-full" />
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label jhiTranslate="contact.form.email" for="email" class="leading-7 text-sm text-gray-600">Email</label>
            <input type="email" id="email" pInputText class="w-full" />
          </div>
        </div>
        <div class="p-2 w-full">
          <div class="relative">
            <label jhiTranslate="contact.form.message" for="message" class="leading-7 text-sm text-gray-600">Message</label>
            <textarea
              id="message"
              class="w-full"
              rows="5"
              cols="30"
              pInputTextarea
              [autoResize]="true">
            </textarea>
          </div>
        </div>
        <div class="p-2 w-full">
          <button pButton pRipple  icon="pi pi-send"  [label]="translate()" class="flex mx-auto rounded-lg"></button>
        </div>
        <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
          <a  href="" class="text-indigo-500">lucasacioly.dev&#64;gmail.com</a>
          <p class="leading-normal my-5">Av. Prof. Moraes Rego, 1235 - Recife
            <br>Pernambuco, Brazil
          </p>
          <span class="inline-flex space-x-4">
            <a href="https://www.linkedin.com/in/jos%C3%A9-lucas-acioly-7a68661a4/">
              <i class="pi pi-linkedin" style="font-size: 2rem"></i>
            </a>
            <a href="https://github.com/lucasacioly">
              <i class="pi pi-github" style="font-size: 2rem"></i>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
